apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cocktail-api.fullname" . }}
  labels:
    {{- include "cocktail-api.labels" . | nindent 4 }}
data:
  NODE_ENV: {{ .Values.app.nodeEnv | quote }}
  PORT: {{ .Values.app.port | quote }}
  HOST: {{ .Values.app.host | quote }}
  LOG_LEVEL: {{ .Values.app.logLevel | quote }}
  APP_DOMAIN: {{ .Values.app.domain | quote }}
  DRIVE_DISK: {{ .Values.app.driveDisk | quote }}
  DB_HOST: {{ include "cocktail-api.databaseHost" . | quote }}
  DB_PORT: {{ .Values.database.port | quote }}
  DB_DATABASE: {{ .Values.database.name | quote }}
  {{- if .Values.cache.enabled }}
  CACHE_ENABLED: "true"
  REDIS_HOST: {{ tpl .Values.cache.host . | quote }}
  REDIS_PORT: {{ .Values.cache.port | quote }}
  CACHE_TTL: {{ .Values.cache.ttl | quote }}
  {{- else }}
  CACHE_ENABLED: "false"
  {{- end }}

